<section class="story-content">
  <div class="row max-width">
    <div class="small-12 columns">
      <div class="row">
        <div class="little-nav medium-2 large-3 xlarge-4 text-right hide-for-small-only columns">
          <a href="{{site.url}}/stories/" class="all-posts">
            <i class="icon-left-dir"></i>
            All Stories
          </a>
        </div>
        <div class="small-12 medium-8 large-6 xlarge-4 end columns">
          <p class="excerpt">{{post.get_field('story_excerpt')}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row max-width entry-content">
    <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 xlarge-4 xlarge-offset-4 columns">
      {{post.content}}
    </div>
  </div>
</section>