<section class="story-content">
  <div class="row">
    <div class="medium-12 columns">
      <div class="row little-nav">
        <div class="small-5 medium-3 large-2 xlarge-1 all-posts columns">
          <a href=""><i class="icon-left-dir left"></i><h4>All Posts</h4></a>
        </div>
        <span class="excerpt-branding"></span>
      </div>
      <div class="row">
        <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 xlarge-4 xlarge-offset-4 text-center columns story-excerpt">
          <p class="excerpt">{{post.get_field('story_excerpt')}}</p>
        </div>
      </div>
    </div>
  </div>