<section class="story-share">
  <div class="row">
    <div class="medium-12 columns">
      <ul class="story-social inline-list">
        <li class="story-social-list">
          <a href="" target="_blank" class="story-social-link">
            <i class="icon-facebook"></i>
            Share on Facebook
          </a>
        </li>
        <li class="story-social-list">
          <a href="" target="_blank" class="story-social-link">
            <i class="icon-twitter"></i>
            Share on Twitter
          </a>
        </li>
        <li class="story-social-list">
          <a href="" target="_blank" class="story-social-link">
            <i class="icon-email"></i>
            Email this story
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>