<section class="story-share" id="story-jump">
  <div class="row">
    <div class="medium-12 columns">
      <ul class="story-social inline-list">
        <li class="story-social-list">
          <a href="" class="story-social-link fb-share">
            <i class="icon-facebook"></i>
            Share on Facebook
          </a>
        </li>
        <li class="story-social-list">
          <a href="" class="story-social-link twitter-share">
            <i class="icon-twitter"></i>
            Share on Twitter
          </a>
        </li>
        <li class="story-social-list">
          <a href="mailto:?subject=Check out this Proposal Envy success story!&amp;body={{post.permalink|url_encode }}" target="_blank" class="story-social-link">
            <i class="icon-email"></i>
            Email this story
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>