<section id="story-jump">
  <div class="row">
    <div class="small-12 medium-10 large-8 xlarge-6 medium-centered columns">
      <h4 class="text-center cta">{{post.cta_message}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-8 large-8 xlarge-6 small-centered columns">
      <ul class="story-social inline-list">
        <li class="story-social-list small-only-text-left text-center">
          <a href="" class="story-social-link fb-share title-lower">
            <i class="icon-facebook"></i>
            Share on Facebook
          </a>
        </li>
        <li class="story-social-list small-only-text-left text-center">
          <a href="" class="story-social-link twitter-share title-lower">
            <i class="icon-twitter"></i>
            Share on Twitter
          </a>
        </li>
        <li class="story-social-list small-only-text-left text-center">
          <a href="mailto:?subject=Check out this Proposal Envy story!&amp;body={{post.permalink|url_encode }}" target="_blank" class="story-social-link title-lower">
            <i class="icon-mail"></i>
            Email this {{post_type}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>