<section class="story-social">
  <div class="row">
    <div class="medium-12 columns">
      <ul class="social">
        <li>
          <a href="" target="_blank">
            <i class="icon-facebook"></i>
          </a>
          Share on Facebook
        </li>
        <li>
          <a href="" target="_blank">
            <i class="icon-twitter"></i>
          </a>
            Share on Twitter
        </li>
        <li>
          <a href="" target="_blank">
            <i class="icon-twitter" class="left"></i>
            Email this story
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>