@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700&subset=latin);
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../assets/font/AvenirNextLTPro-Regular.eot');
    src: url('../assets/font/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/AvenirNextLTPro-Regular.woff') format('woff'),
         url('../assets/font/AvenirNextLTPro-Regular.ttf') format('truetype'),
         url('../assets/font/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextLTPro-Demi';
    src: url('../assets/font/AvenirNextLTPro-Demi.eot');
    src: url('../assets/font/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/AvenirNextLTPro-Demi.woff') format('woff'),
         url('../assets/font/AvenirNextLTPro-Demi.ttf') format('truetype'),
         url('../assets/font/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../assets/font/fontello.eot?46123228');
  src: url('../assets/font/fontello.eot?46123228#iefix') format('embedded-opentype'),
       url('../assets/font/fontello.woff?46123228') format('woff'),
       url('../assets/font/fontello.ttf?46123228') format('truetype'),
       url('../assets/font/fontello.svg?46123228#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}