/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */

$regular-font-family: "AvenirNextLTPro-Regular", AvenirNextLTPro-Regular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$demi-font-family: "AvenirNextLTPro-Demi", AvenirNextLTPro-Demi, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$serif-font-family: "Merriweather", Merriweather, Georgia, "Times New Roman", serif;
$global-letter-spacing: 2;