.about-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 33% 0;
}
.about-brands {
  background-color: #fff;
  border-top: 1px solid #fff;
}
.about-value {
  background-color: #ffffed;
  padding: rem-calc(20 0 35);
}
.about-role {
  @extend %bg;
}
.handy, .arista {
  @extend %bg;
  hr {
    @include divider(#888);
    margin: rem-calc(30) 0;
  }
  .white-panel {
    @include rprop(min-height,500,500,500,600);
  }
}
.handy-small, .arista-small {
  @extend %bg;
  min-height: rem-calc(500);
}
.handy-small {
  background-position: bottom right;
}
.arista-small {
  background-position: bottom left;
}