select:focus {
  outline:none;
}
.button {
  @include rfont(14);
  text-transform: uppercase;
  letter-spacing: rem-calc(1);
  line-height: 1.4;
  border-radius: $global-radius;
  padding: rem-calc(15);
  margin: rem-calc(25 0 0);
  &.coral {
    background-color: $primary-color;
  }
  &.wire {
    background-color: transparent;
    border: rem-calc(2) solid $white;
    @include rprop(padding, 10 15, 11 15);
  }
}