select:focus {
  outline:none;
}
.flex-video {
  margin: inherit rem-calc(-35);
  margin-top: rem-calc(35);
}
.button {
  @include rfont(14);
  text-transform: uppercase;
  letter-spacing: rem-calc(1);
  border-radius: $global-radius;
  padding: rem-calc(15);
  margin: rem-calc(40 0 0);
  &.coral {
    background-color: $primary-color;
  }
  &.wire {
    background-color: transparent;
    border: rem-calc(2) solid $white;
    padding: rem-calc(13 15);
  }
}
.inline-list > li:first-child {
  margin-left: 0;
}