/* Hero
* -------------------------------------
*/
.hero {
  @extend %vertical-align-parent;
  height: 100vh;
  width: 100vw;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.hero-bg {
  @extend %bg;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}
#hero-video {
  @extend %bg;
  position: fixed;
  z-index: -100;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.hero-action {
  @extend %vertical-align;
}
.hero-subtitle {
  @extend %serif-italic;
  @extend %shadow;
  @include rprop(font-size, 18, 19, 20, 20);
}
.hero-title {
  @extend %sans-bold;
  @extend %shadow;
  @include rprop(font-size, 32, 78, 78, 78);
  line-height: 1;
  letter-spacing: rem-calc($global-letter-spacing*5);
  // margin: rem-calc(10 0 3);
  @include rprop(margin, 10 0 3, 13 0 3);
}
.hero-tagline {
  @extend %sans;
  @extend %shadow;
  line-height: 1.7;
  @include rprop(font-size, 12, 14, 16, 16);
  @include rprop(letter-spacing, 1,1,$global-letter-spacing);
}
#play-button {
  @include rprop(margin, 12, 20,20,20);
}
#videoModal {
  position: fixed;
  top: rem-calc(100);
  left: 0px;
  z-index: 6666;
}

/* About
* -------------------------------------
*/
.about {
  position: relative;
  margin-top: 100vh;
  background-color: #ffffff;
  hr {
    @include divider(#EBEAE5);
  }
}
.gradient-text {
  @extend %serif;
  @include rfont(20);
  background: transparent;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(15%, #FF7968), color-stop(80%, #80C896));
  background: -webkit-linear-gradient(-45deg, #FF7968 15%, #80C896 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  em {
    font-weight: 700;
  }
}

/* Packages
* -------------------------------------
*/
.packages {
  position: relative;
  hr {
    @include divider(#777);
  }
}
.white-panel {
  background-color: rgba(255, 255, 255, .92);
  padding: rem-calc(60 70);
}

/* Featured Stories
* -------------------------------------
*/
.stories {
  overflow: hidden;
  hr {
    @include divider(#fff);
  }
}
.success-story, .proposal-story {
  @extend %bg;
  @include rprop(padding, 65 50, 75 100, 60 80, 75 170);
  height: rem-calc(500);
  .button {
    margin-top: 0;
  }
}