.menu-wrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  @include rprop(padding, 20 20, 20 20, 20 50, 20 50);
  transition: transform 0.25s ease-in-out 0.1s,
              background-color 0.15s ease-in-out;
}
.menu-wrapper.shaded {
  background-color: rgba(119, 218, 234, .9);
}
.menu-wrapper.closed {
  transform: translate3d(0,-70px,0);
}

/* Click area */
.nav-toggle-click-area {
  float: right;
  display: inline-block;
  width: rem-calc(85);
  height: rem-calc(30);
  padding-top: rem-calc(4);
}

/* Logo area */
.nav-identity {
  float: left;
  img {
    @include rprop(height, 25, 30, 30, 30);
  }
}

/* Menu Text */
.nav-text {
  float: left;
  font-style: normal;
  letter-spacing: rem-calc(1);
}

/* Burger Bar */
.nav-toggle {
  float: right;
  padding-top: 9px;
  height: 30px;
  width: 30px;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  cursor: pointer;
  height: rem-calc(4);
  width: rem-calc(24);
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.nav-toggle span:before {
  top: rem-calc(-8);
}
.nav-toggle span:after {
  bottom: rem-calc(-8);
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  transition: all 100ms ease-in-out;
}
.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  transform: rotate(45deg);
}
.nav-toggle.active span:after {
  @extend %flicker-fix;
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  top: rem-calc(10);
}

/* Overlay style */
.overlay {
  position: fixed;
  z-index: 7777;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay nav {
  @extend %flicker-fix;
  position: relative;
  top: 50%;
  height: 70%;
  transform: translate3d(0, -50%, 0);
}
.overlay-list {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
  .inline-list {
    @extend %vertical-align;
    display: table;
    margin: 0 auto;
    padding-top: rem-calc(15);
    border-top: 1px solid white;
    top: 100%;
    transform: translateY(-100%);
    li {
      height: rem-calc(50);
      width: rem-calc(50);
    }
    li a i:before {
      font-size: 180%;
    }
  }
}
.overlay-list li {
  @extend %flicker-fix;
  @extend %vertical-align-parent;
  display: block;
  height: calc(100%/5);
}
.overlay-list li a {
  @extend %vertical-align;
  display: block;
  transition: color 0.2s;
  h2 { @include rfont(28); }
  div { @include rfont(14); }
}
.copy {
  height: rem-calc(20)!important;
  margin-top: rem-calc(5);
  p {
    @include rfont(11);
  }
}
/* Effects */
.overlay-slidedown {
  @extend %flicker-fix;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
}
.overlay-slidedown.open {
  @extend %flicker-fix;
  visibility: visible;
  transform: translate3d(0, 0%, 0);
  transition: transform 0.3s ease-in-out;
}
/* Effects */
.nav-text {
  visibility: visible;
  transition: visibility 0.15s ease-in-out .3s;
}
.nav-text.off {
  visibility: hidden;
  transition: visibility 0.05s ease-in-out;
}
@media screen and (max-height: 615px) {
  .overlay nav {
    height: 90%;
  }
  .overlay-list li a {
    h2 { @include rfont(25); }
    div { @include rfont(12); }
  }
  .overlay-list .inline-list {
    padding-top: rem-calc(7);
    li {
      height: rem-calc(35);
      width: rem-calc(35);
    }
    li a i:before {
      font-size: 125%;
    }
  }
}
@media screen and (max-height: 900px) {
  .overlay nav {
    height: 90%;
  }
  .overlay-list .inline-list {
    padding-top: rem-calc(12);
    li {
      height: rem-calc(43);
      width: rem-calc(43);
    }
  }
}
@media screen and (min-height: 900px) {
  .overlay nav {
    height: 75%;
  }
  .copy { margin-top: rem-calc(30); }
}