/**
 * Mixins
 * ------------------------------------
 */

// Divider Line
@mixin divider($color: #EBEAE5) {
  border: 0;
  height: rem-calc(2);
  background: $color;
  width: rem-calc(50);
  text-align:center;
  margin: rem-calc(40) auto rem-calc(40);
}
@mixin grid-debug($top, $color) {
  @media #{$small-only} {
    &:before {
      color: $color;
     content: 'This is small';
     position: absolute;
     top: $top;
    }
  }
  @media #{$medium-only} {
    &:before {
      color: $color;
     content: 'This is medium';
     position: absolute;
     top: $top;
    }
  }
  @media #{$large-only} {
    &:before {
      color: $color;
     content: 'This is large';
     position: absolute;
     top: $top;
    }
  }
  @media #{$xlarge-only} {
    &:before {
      color: $color;
     content: 'This is xlarge';
     position: absolute;
     top: $top;
    }
  }
}
@mixin rfont($desktop-value, $phone-value:$desktop-value*0.875){
  font-size: rem-calc($phone-value);
  @media #{$medium-up} { font-size: rem-calc($desktop-value); }
}
@mixin rprop($prop, $small-value, $medium-value:false, $large-value:false, $xlarge-value:false){
  #{$prop}: rem-calc($small-value);
  @if $medium-value {
    @media #{$medium-up} { #{$prop}: rem-calc($medium-value); }
  }
  @if $large-value {
    @media #{$large-up} { #{$prop}: rem-calc($large-value); }
  }
  @if $xlarge-value {
    @media #{$xlarge-up} { #{$prop}: rem-calc($xlarge-value); }
  }
}
@mixin rprop-plain($prop, $small-value, $medium-value:false, $large-value:false, $xlarge-value:false){
  #{$prop}: $small-value;
  @if $medium-value {
    @media #{$medium-up} { #{$prop}: $medium-value; }
  }
  @if $large-value {
    @media #{$large-up} { #{$prop}: $large-value; }
  }
  @if $xlarge-value {
    @media #{$xlarge-up} { #{$prop}: $xlarge-value; }
  }
}

/**
 * Placeholders
 * ------------------------------------
 */

// Vertical align
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css
%vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
// Vertical align parent
%vertical-align-parent {
  transform-style: preserve-3d;
}
// Flicker Fix!
%flicker-fix {
  backface-visibility: hidden;
  perspective: 1000;
}
%bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
// Typography
%white {
  color: $white!important;
}
%shadow {
  text-shadow: 1px 1px 0 rgba(0,0,0,.4);
}
%serif {
  font-family: $serif-font-family;
  font-weight: 400;
  margin: rem-calc(0 0 0 0);
}
%serif-bold {
  @extend %serif;
  font-weight: 700;
}
%serif-italic {
  @extend %serif;
  font-style: italic;
}
%serif-bold-italic {
  @extend %serif-bold;
  font-style: italic;
}
%sans {
  font-family: $regular-font-family;
  letter-spacing: rem-calc($global-letter-spacing);
  text-transform: uppercase;
  margin: rem-calc(0 0 0 0);
}
%sans-bold {
  @extend %sans;
  font-family: $demi-font-family;
}
%sans-bold-lower {
  @extend %sans-bold;
  text-transform: capitalize;
}
%excerpt {
  @extend %serif;
  @include rfont(20);
  line-height: 1.8;
  margin-bottom: rem-calc(30);
}