.packages-summary {
  @extend %bg;
  background-position: top center;
  padding-top: rem-calc(100);
  ul li {
    @include rfont(16);
  }
}
.black-panel {
  background-color: rgba(0,0,0,.3);
  padding: rem-calc(30 10 5);
  margin-bottom: rem-calc(20);
}
.packages-select-active {
  color: $primary-color!important;
}
.packages-tab {
  margin-bottom: rem-calc(15);
}
.packages-select-link {
  display: inline-block;
  width: 100%;
  font-size: rem-calc(13);
}
.packages-book {
  margin-left: rem-calc(15);
}
.packages-frame {
  border: 2px solid white;
  padding: rem-calc(25 25 0);
  // display: none;
}
.packages-table {
  background-color: #3C4252;
  padding-top: rem-calc(100);
  td, th {
    color: white;
    text-align: center;
    letter-spacing: normal;
    @include rfont(14);
  }
  th {
    @include rfont(15);
  }
  .button {
    background-color: $primary-color;
    @include rfont(12);
    margin: rem-calc(30 20);
  }
  .book {
    margin: rem-calc(10 0 0);
  }
  ul li {
    @include rfont(16);
  }
}
.packages-expand {
  background-color: rgba(0,0,0,.3);
}
.packages-faq {
  ul {
    list-style-type: none;
  }
  background-color: #F4FDFF;
}
.packages-expand, .inception-details, .execution-details,
.custom-details, .destination-details, .packages-detail-mobile, .packages-frame {
  display: none;
}
.packages-details {
  padding: rem-calc(40 0);
}
.packages-insight {
  background-color: #3DB6BE;
  color: #777;
}
.insight-img {
  margin-top: rem-calc(40);
  @include rprop-plain(width, 60%, 80%, 60%, 40%);
}
.question {
  color: #444;
  margin-bottom: rem-calc(10);
  cursor: pointer;
  @include rfont(16);
}
.answer {
  color: #777;
  display: none;
  margin-bottom: 0;
}
.qna {
  border-bottom: 1px solid #eee;
  padding-bottom: rem-calc(15);
  margin-bottom: rem-calc(25);
  &:last-child {
    border-bottom: none;
  }
}