.stories-latest {
  padding-top: rem-calc(50);
  border-top: rem-calc(1) solid #f1f1f1;
}
.post-article {
  margin-bottom: rem-calc(30);
  @media #{$large-up} { margin-bottom: rem-calc(50); }
}
.post-image-success {
  @extend %bg;
  @extend %vartical-align-parent;
  height: rem-calc(270);
}
.post-title-success {
  @extend %serif-bold;
  @extend %vertical-align;
}
.post-place-success {
  @extend %vertical-align;
}
.post-image {
  @extend %bg;
  padding: 20%;
  margin-bottom: rem-calc(15);
}
.post-info {
  padding: rem-calc(0 10);
}
.post-title {
  @include rfont(20);
}