.stories-latest {
  padding-top: rem-calc(50);
  border-top: rem-calc(1) solid #f1f1f1;
}
.post-article {
  margin-bottom: rem-calc(30);
  @media #{$large-up} { margin-bottom: rem-calc(50); }
}
.post-image-success {
  @extend %bg;
  @extend %vartical-align-parent;
  height: rem-calc(270);
  padding: rem-calc(10);
}
.post-title-success {
  @extend %serif-bold;
  @extend %vertical-align;
}
.post-place-success {
  @extend %vertical-align;
}
.post-image {
  @extend %bg;
  padding: 20%;
  margin-bottom: rem-calc(15);
}
.post-info {
  padding: rem-calc(0 10);
}
.post-title {
  @include rfont(20);
}
.testi-title {
  @extend %shadow;
  @include rprop(font-size, 13, 13, 15, 16);
}
.testi-excerpt {
  @include rprop(font-size, 15, 16, 17, 19);
  @include rprop-plain(line-height, 1.8, 1.9, 2, 2);
  @include rprop(padding, 0 10, 0, 0, 0);
  margin: rem-calc(20 0 13 0);
}
.testi-couple {
  @include rprop(font-size, 15, 15, 16, 16);
  margin-bottom: rem-calc(30);
}