/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Custom Global Settings
 * ----------------------------------------------------------------------------
 */

// Reset margin and padding on figure element
figure {
	margin: 0;
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10);
	color: #6f6f6f;
}

// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

// Fix the issue where the WP adminbar overlaps the mobile menu
#wpadminbar {
	position: fixed !important;
}

// 100% max width instead of 95%
.max-width {
	max-width: 100% !important;
}

section {
	@extend %bg;
	padding: rem-calc(70) 0;
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}
.white {
	@extend %white;
}
html, body, main {
	height: 100%;
}

.stuck {
	position: fixed;
	top: rem-calc(40);
	width: 14%;
	@media #{$xlarge-only} {
		width: 15%;
	}
}
.unstuck {
	position: relative;
}

/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */

h2 {
	@extend %serif;
	color: $charcoal;
	margin: rem-calc(10 0);
}
h3 {
	@extend %serif-bold;
	color: $tuatara;
}
h4 {
	@extend %sans;
}
p {
	@include rfont(16);
}
.title {
	@extend %sans-bold;
	color: $primary-color;
	@include rfont(15);
}
.title-white {
	@extend .title;
	@extend %white;
	@include rfont(15);
}
.title-lower {
	@extend .title-white;
	text-transform: capitalize;
	@include rfont(15);
}


	/**
	 * 2.1 Icons
	 * ------------------------------------
	 */

	[class^="icon-"]:before, [class*=" icon-"]:before {
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		margin-top: rem-calc(1);
		text-align: center;
		font-variant: normal;
		text-transform: none;
		color: $silver;
		// /* font-size: 120%; */
	}

	.icon-pinterest:before { content: '\e800'; } /* '' */
	.icon-twitter:before { content: '\e801'; } /* '' */
	.icon-facebook:before { content: '\e802'; } /* '' */
	.icon-instagram:before { content: '\e803'; } /* '' */
	.icon-quote-left:before {
		content: '\e804';
		color: #ddd;
		font-size: rem-calc(35);
		position: absolute;
		left: rem-calc(12);
		@media #{$large-only} { left: rem-calc(55); }
		@media #{$xlarge-only} { left: rem-calc(270); font-size: rem-calc(45); }
	}
	.icon-quote-right:before { content: '\e805'; } /* '' */
	.icon-left-dir:before { content: '\e806';  color: $primary-color;} /* '' */
	.icon-share:before { content: '\e807'; } /* '' */
	.icon-phone-squared:before { content: '\e808'; } /* '' */
	.icon-email:before { content: '\e809'; } /* '' */
	.icon-location:before { content: '\e80a'; } /* '' */
	.icon-bbm:before { content: '\e80b'; } /* '' */
	.icon-whatsapp:before { content: '\e80c'; } /* '' */
	.icon-play:before { content: '\e80d'; font-size: 15px; } /* '' */
	.icon-youtube-play:before { content: '\e80e'; } /* '' */

	// Margin for buttons with icons above
	.button i {
		margin-right: rem-calc(7);
	}


/**
 * 3.0 Menu
 * ----------------------------------------------------------------------------
 */

/* Hamburger & Menu Text Animation */
#nav-toggle {
  position: fixed;
  right: rem-calc(20);
	@media #{$medium-up} {
  	right: rem-calc(45);
	}
  top: rem-calc(5);
  border: none;
  outline: none;
  z-index: 9999;
}
#nav-text {
  color: #fff;
  position: relative;
  right: rem-calc(55);
  top: rem-calc(12);
  font-style: normal;
  font-size: rem-calc(14);
  letter-spacing: rem-calc(1);
}

/* Effects */
#nav-text {
  visibility: visible;
  transition: visibility 0.15s ease-in-out .3s;
}
#nav-text.off {
  visibility: hidden;
  transition: visibility 0.05s ease-in-out;
}

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  height: rem-calc(4);
  width: rem-calc(24);
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: rem-calc(-8);
}
#nav-toggle span:after {
  bottom: rem-calc(-8);
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 100ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: translateY(-10px) rotate(-45deg);
  top: rem-calc(10);
}

/* Menu bar style */
#nav-bar {
  // background: rgba(255, 105, 86, 0.9);
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: rem-calc(50);
  left: 0;
  padding: 0;
}
#nav-bar.nav-close {
  transform: translate3d(0, -100%, 0);
  transition: transform 0.2s ease-in-out;
}
#nav-bar.nav-open {
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-in-out;
}

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5000;
  background: rgba(255, 105, 86, 0.9);
}

.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: calc(100% / 4);
  min-height: rem-calc(54);
  backface-visibility: hidden;
}

.overlay ul li a {
  font-size: rem-calc(54);
  font-weight: 300;
  display: block;
  /*border-bottom: 1px solid #FF9990;*/
  transition: color 0.2s;
}

.overlay ul li a h5, .overlay ul li a h2 {
  color: #fff;
}

/* Effects */
.overlay-slidedown {
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
}

.overlay-slidedown.open {
  visibility: visible;
  transform: translateY(0%);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: rem-calc(34);
  }
  .overlay ul li {
    min-height: rem-calc(34);
  }
}


/**
 * 3.0 Footer
 * ----------------------------------------------------------------------------
 */

footer {
	background-color: $silver;
	padding: rem-calc(50) 0 rem-calc(10) 0;
	color: #ABABAB;
	a { color: #ABABAB; }
	ul {
		list-style-type: none;
		margin: 0;
	}
	h5, ul, a, p {
		font-size: rem-calc(14);
	}
	h5 {
		margin-bottom: rem-calc(8);
	}
	.button {
		margin: 0;
	}
	.quicklinks, .contact {
		margin-bottom: rem-calc(30);
	}
}
.social {
	margin-top: rem-calc(20);
	li a>i {
		border-radius: rem-calc(20);
		background-color: #bbbbbb;
		cursor: pointer;
		height: rem-calc(40);
		width: rem-calc(40);
		display: table;
		text-align: center;
		transition: all 400ms ease;
		padding-top: rem-calc(7);
	}
	li a:hover>i {
		background-color: $primary-color;
	}
}
.footer-info {
	border-top: 1px solid #e8e8e8;
	margin-top: rem-calc(50);
	padding-top: rem-calc(10);
	p {
		font-size: rem-calc(12);
	}
}
.contact i:before {
	color: #888;
	font-size: 115%;
	margin-right: rem-calc(10);
}
.whatsapp {
	margin-left: rem-calc(27);
}

/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */

	/**
	 * 4.1 Pages
	 * ------------------------------------
	 */

	/* Packages
	* -------------------------------------
	*/
	.packages-faq {
		h4 {
			color: #666;
		}
		p {
			color: #777;
			line-height: 1.8;
		}
	}



	/* Journal
	* -------------------------------------
	*/

	// Category dropdown
	.journal-select h4, .journal-category-nav h4 {
		font-size: rem-calc(13);
		text-transform: none;
		color: #444;
	}
	.journal-category-nav {
		margin-top: rem-calc(20);
	}
	.journal-category-list {
		border-radius: rem-calc(2);
		background-color: #f5f8fc;
		&:hover {
			background-color: lighten($primary-color, 3%);
		}
	}
	.journal-selected {
		font-family: $demi-font-family;
		.journal-category-link {
			color: $primary-color!important;
			font-size: rem-calc(13);
		}
		&:hover {
			background-color: #f5f8fc;
		}
	}
	.journal-category-link {
		font-size: rem-calc(12)!important;
	}

	// Journal Content
	.journal-content {
		padding: rem-calc(30 0);
	}
	.journal-list {
		padding: 0;
	}
	.journal-article {
		@extend %bg;
		border-top: rem-calc(1) solid #f1f1f1;
		&:last-child {
			// border-bottom: none;
		}
		&:hover {
			background-color: lighten($primary-color, 2%);
			h2, h4, p, .coral-meta {
				color: #fff;
			}
			.journal-overlay {
				transition: background 0.2s ease-in;
				background: rgba(251, 88, 79, .6);

			}
		}
		padding: rem-calc(50 20);
		@media #{$medium-up} {
			padding: rem-calc(50 70);
		}
		@media #{$large-up} {
			padding: rem-calc(50 90);
		}
	}
	.journal-overlay {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transition: background 0.2s ease-out;
		background: white;
	}
	.journal-meta {
		@extend %post-meta;
		font-size: rem-calc(12);
		margin-bottom: rem-calc(10);
		.coral-meta {
			color: $primary-color;
		}
	}
	.journal-title {
		@extend %post-title-bold;
		font-size: rem-calc(24);
		margin-bottom: rem-calc(15);
	}
	.journal-excerpt {
		color: #888;
		font-size: rem-calc(15);
		line-height: 1.6;
		margin-bottom: 0;
	}
	.journal-meta, .journal-title, .journal-excerpt {
		position: relative;
		z-index: 2;
	}


	/* Stories
	* -------------------------------------
	*/
	.stories-wrap, .journal-wrap {
		@extend %bg;
		padding-top: rem-calc(180);
		@media #{$medium-up} {
			padding-top: rem-calc(200);
		}
		height: rem-calc(450);
		h2, h4 {
			color: #ffffff;
		}
		h4 {
			@extend %post-meta;
			font-size: rem-calc(15);
		}
		h2 {
			@extend %post-title;
			font-size: rem-calc(30);
		}
	}
	.stories-content {
		padding: rem-calc(50 0);
	}
	.stories-success {
		padding: rem-calc(0 0 20 0);
	}
	.stories-latest {
		padding: rem-calc(50 0 0 0);
		border-top: rem-calc(1) solid #f1f1f1;
	}
	.post-article {
		margin-bottom: rem-calc(30);
		@media #{$large-up} { margin-bottom: rem-calc(50); }
	}
	.post-image {
		@extend %bg;
		padding: 20%;
		margin-bottom: rem-calc(15);
	}
	.post-image-success {
		@extend %bg;
		@extend %vertical-align-parent;
		padding: rem-calc(10);
		height: rem-calc(270);
	}
	.post-info {
		padding: rem-calc(0 10);
	}
	.post-title {
		@extend %post-title;
	}
	.post-title-success {
		@extend %post-title-bold;
		@extend %vertical-align;
		color: #fff;
		font-size: rem-calc(26);
	}
	.post-place {
		@extend %post-meta;
	}
	.post-place-success {
		@extend %post-meta;
		@extend %vertical-align;
		color: #fff;
		font-size: rem-calc(14);
		margin: 0;
	}
	#tiles {
		list-style-type: none;
	}
	.item {
		margin-bottom: rem-calc(12);
	}


	/* Home
	* -------------------------------------
	*/

	// Hero Section ///////////////////////
	.hero, #hero-mask {
		@extend %vertical-align-parent;
		height: 100vh;
		height: 100%;
	}
	.hero-bg {
		@extend %bg;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1000;
	}
	#hero-video {
		@extend %bg;
		position: fixed;
		z-index: -100;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
	}
	.hero-action {
		@extend %vertical-align;
	}
	#hero-mask {
		background-color: #000000;
		opacity: 0;
		transform: translate3d(0, 0, 0);
		height: 100%;
	}
	.hero-subtitle {
		@extend %serif-italic;
		@extend %shadow;
		font-size: rem-calc(20);
		@media #{$medium-up} {
			font-size: rem-calc(22);
		}
	}
	.hero-title {
		@extend %sans-bold;
		@extend %shadow;
		font-size: rem-calc(42);
		@media #{$medium-up} {
			font-size: rem-calc(80);
		}
		line-height: 1;
		letter-spacing: rem-calc(10);
		margin: rem-calc(20 0 3);
	}
	.hero-tagline {
		@extend %sans;
		@extend %shadow;
		font-size: rem-calc(14);
		@media #{$medium-up} {
			font-size: rem-calc(16);
		}
		letter-spacing: rem-calc(2);
	}
	#play-button {
		margin-left: rem-calc(20);
	}

	// About Section //////////////////////
	.about {
		background-color: #ffffff;
		hr {
			@include divider(#EBEAE5);
		}
	}
	.reasons p {
		padding: 0 rem-calc(40);
	}
	.icon {
		margin: rem-calc(70) 0 rem-calc(30) 0;
	}
	.divider {
		border-right: rem-calc(1) solid #dfdfdf;
		height: rem-calc(23);
		padding-top: rem-calc(5);
	}
	.gradient-text {
		@extend %serif;
		font-size: rem-calc(20);
		background: transparent;
		background: -webkit-gradient(linear, left top, right bottom, color-stop(15%, #FF7968), color-stop(80%, #80C896));
		background: -webkit-linear-gradient(-45deg, #FF7968 15%, #80C896 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		em {
			font-weight: 700;
		}
	}
	// Packages Section ///////////////////
	.packages {
		hr {
			@include divider(#777);
		}
	}
	.white-panel {
		background-color: rgba(255, 255, 255, .92);
		padding: rem-calc(60 70);
	}
	// Featured Stories Section ///////////
	.stories {
		hr {
			@include divider(#fff);
		}
	}
	.success-story, .proposal-story {
		@extend %bg;
		// padding: rem-calc(70 15);
		padding: rem-calc(65) rem-calc(50);
		@media #{$medium-up} {
			padding: rem-calc(75) rem-calc(100);
		}
		@media #{$large-up} {
			padding: rem-calc(60) rem-calc(80);
		}
		@media #{$xlarge-up} {
			padding: rem-calc(75) rem-calc(170);
		}
		min-height: rem-calc(500);
	}
	// Hint Section ///////////
	.hint {
		@include rprop( padding, 14, 30, 90 );
	}


	/**
	 * 4.2 Posts
	 * ------------------------------------
	 */

	// Story Posts
	.little-nav {
		padding-top: rem-calc(10);
		i { margin-right: rem-calc(5); }
		.all-posts {
			margin: 0;
			font-family: $demi-font-family;
			font-size: rem-calc(15);
			letter-spacing: rem-calc(1);
			color: #888;
		}
	}
	.excerpt {
		@extend %excerpt;
		margin: 0 0 rem-calc(30) 0;
	}
	.story-wrap {
		@include grid-debug(450px);
		padding: 25% 0%;
		@media #{$medium-up} { padding: 20% 6%; }
		@media #{$large-up} { padding: 15% 8%; }
		@media #{$xlarge-up} { padding: 12% 10% }
		background-size: cover;
		background-position: center center;
		h2, h4 {
			color: #ffffff;
		}
		h4 {
			font-family: $regular-font-family;
			letter-spacing: rem-calc(4);
			margin-bottom: 0;
			font-size: rem-calc(12);
			@media #{$medium-up} { font-size: rem-calc(13); }
			@media #{$large-up} { font-size: rem-calc(14); }
		}
		h2 {
			font-weight: 700;
			font-size: rem-calc(34);
			@media #{$medium-up} { font-size: rem-calc(36); }
			@media #{$large-up} { font-size: rem-calc(48); }
			@media #{$xlarge-up} { font-size: rem-calc(54); }
		}
	}
	.story-content {
		padding-top: rem-calc(50);
		color: #555;
		p {
			strong {
				font-family: $demi-font-family;
			}
		}
	}

	h2:first-child, h3:first-child, h4:first-child { margin-top: 0; }
	table { margin-top: rem-calc(35); width: 100%;}
	thead {
		font-family: $demi-font-family;
	}
	figure {
		margin: rem-calc(40 -50);
		@media #{$small-only} { margin: rem-calc(0); }
	}
	figcaption {
		font-family: $serif-font-family;
		font-style: italic;
		font-size: rem-calc(14);
		color: #A9A9A9;
		text-align: center;
		margin-top: rem-calc(20);
	}
	blockquote {
		p {
			@extend %excerpt;
			margin-bottom: 0;
			font-style: italic;
			font-size: rem-calc(16);
			line-height: 1.9;
		}
		margin-left: 0;
		@media #{$medium-up} { margin-left: rem-calc(-60); }
		padding: rem-calc(30);
	}
	#slideshow {
		clear: both;
		overflow: hidden;
		.slick-prev {
			left: 20px;
		}
		.slick-next {
			right: 40px;
		}
		.slick-dots {
			bottom: -20px;
			li {
				margin-right: 15px;
			}
			.slick-active button:before {
				background-color: rgba(255, 255, 255, 1);
				opacity: 1;
			}
			li button:before {
				content: '';
				width: 15px;
				height: 15px;
				border-radius: 10px;
				background-color: rgba(204, 0, 102, 0);
				border: 3px solid #fff;
				opacity: 1;
			}
		}
	}
	.carousel-content {
		@extend %bg;
	}
	#tiles {
		margin-top: rem-calc(50);
	}
	.story-social {
		.social li {
			font-size: rem-calc(14);
			color: #777;
			a {
				background-color: #444444;
			}
		}
	}
	.story-adjacent {
		background-color: #fff;
	}
	.story-prev, .story-next {
		height: rem-calc(200);
		background-size: cover;
		background-position: center center;
		transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transform-origin: center center;
		&:hover {
			transform: scale(0.975);
		}
		a {
			width: 100%;
			height: 100%;
			display: block;
			padding: rem-calc(50 75);
		}
		h2, h4 {
			color: #ffffff;
		}
		h4 {
			font-family: $regular-font-family;
			letter-spacing: rem-calc(4);
			margin-bottom: rem-calc(15);
			font-size: rem-calc(12);
		}
		h2 {
			font-weight: 700;
			font-size: rem-calc(32);
		}
	}
	.story-social {
		// Center inline list
		display: table;
  	margin: rem-calc(10) auto rem-calc(90);
  	padding-top: rem-calc(40);
  	border-top: 2px solid #f3f3f3;
	}
	.story-social-list {
		margin: rem-calc(0 20 13 0);
	}
	.story-social-link {
		color: #888888;
		font-family: $demi-font-family;
		font-size: rem-calc(14);
		i {
			margin-right: rem-calc(8);
			&:before {
				border-radius: rem-calc(20);
				background-color: #666;
				cursor: pointer;
				height: rem-calc(40);
				width: rem-calc(40);
				padding-top: rem-calc(7);
			}
		}
	}
	.author-box {
		overflow: hidden;
		margin-left: rem-calc(20);
	}
	.author-title {
		@extend %post-title-bold;
		color: #757575;
		margin-bottom: rem-calc(10);
	}
	.author-photo {
		@extend %bg;
		background-image: url('https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/10494646_893856813963777_8075758235822311771_n.jpg');
		padding: 45%;
	}
	.author-meta {
		background-color: #fef9f9;
		padding: rem-calc(35);
	}
	.author-name {
		@extend %post-meta;
		// margin: 0;
		color: #ef3b3b;
		// margin-bottom: rem-calc(10);
		// letter-spacing: rem-calc(2);
	}
	.author-bio {
		font-size: rem-calc(14);
		line-height: 1.75;
		color: #757575;
	}

	/**
	 * 4.3 Widgets
	 * ------------------------------------
	 */

	// Insert styles here

	/**
	 * 4.4 Comments
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.5 Lists
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.6 Forms
	 * ------------------------------------
	 */

	input {
		padding: rem-calc(10);
	}



/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Insert styles here