/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Custom Global Settings
 * ----------------------------------------------------------------------------
 */

// Reset margin and padding on figure element
figure {
	margin: 0;
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10);
	color: #6f6f6f;
}

// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

// Fix the issue where the WP adminbar overlaps the mobile menu
#wpadminbar {
	position: fixed !important;
}

// 100% max width instead of 95%
.max-width {
	max-width: 100% !important;
}

.packages, .hint, .success-story, .proposal-story {
	background-size: cover;
	background-position: center center;
}

html, body, main {
	height: 100%;
}


/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */

h5, h6 {
  font-family: $demi-font-family;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: $h5-header-letter-spacing;
  margin-bottom: rem-calc(15);
}
h6 {
  text-transform: none;
  color: white;
}
h4, .link {
	font-family: $demi-font-family;
	font-size: rem-calc(15); // Only for .link
  color: #777777;
  text-transform: uppercase;
  letter-spacing: $h4-header-letter-spacing;
  margin-bottom: rem-calc(15);
  &.active {
		color: $primary-color;
  }
}
h2 {
  font-family: $serif-font-family;
  color: $h2-header-color;
  margin-bottom: rem-calc(28);
}


	/**
	 * 2.1 Icons
	 * ------------------------------------
	 */

	[class^="icon-"]:before, [class*=" icon-"]:before {
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		margin-top: rem-calc(1);
		text-align: center;
		font-variant: normal;
		text-transform: none;
		color: $footer-bg;
		// /* font-size: 120%; */
	}

	.icon-pinterest:before { content: '\e800'; } /* '' */
	.icon-twitter:before { content: '\e801'; } /* '' */
	.icon-facebook:before { content: '\e802'; } /* '' */
	.icon-instagram:before { content: '\e803'; } /* '' */
	.icon-quote-left:before {
		content: '\e804';
		color: #ddd;
		font-size: rem-calc(35);
		position: absolute;
		left: rem-calc(12);
		@media #{$large-only} { left: rem-calc(55); }
		@media #{$xlarge-only} { left: rem-calc(270); font-size: rem-calc(45); }
	}
	.icon-quote-right:before { content: '\e805'; } /* '' */
	.icon-left-dir:before { content: '\e806';  color: $primary-color;} /* '' */
	.icon-share:before { content: '\e807'; } /* '' */
	.icon-phone-squared:before { content: '\e808'; } /* '' */
	.icon-email:before { content: '\e809'; } /* '' */
	.icon-location:before { content: '\e80a'; } /* '' */
	.icon-bbm:before { content: '\e80b'; } /* '' */
	.icon-whatsapp:before { content: '\e80c'; } /* '' */
	.icon-play:before { content: '\e80d'; font-size: 15px; } /* '' */
	.icon-youtube-play:before { content: '\e80e'; } /* '' */

	// Margin for buttons with icons above
	.button i {
		margin-right: rem-calc(7);
	}


/**
 * 3.0 Menu
 * ----------------------------------------------------------------------------
 */

.menu-wrap {
	position: fixed;
	z-index: 10;
}
.logo {
	padding-top: rem-calc(5);
}
.current-menu-item .nav-item, .current_page_item .nav-item {
	color: $primary-color;
}
footer .current-menu-item .nav-item,footer .current_page_item .nav-item {
	color: inherit;
}
footer .current-menu-item .nav-item:hover,footer .current_page_item .nav-item:hover {
	color: $primary-color;
}

/**
 * 3.0 Footer
 * ----------------------------------------------------------------------------
 */

footer {
	background-color: $footer-bg;
	padding: rem-calc(70) 0 rem-calc(10) 0;
	color: #ABABAB;
	a { color: #ABABAB; }
	ul {
		list-style-type: none;
		margin: 0;
	}
	p, li {
		margin-bottom: rem-calc(10);
	}
	h5, ul, a, p {
		font-size: rem-calc(14);
	}
	.button {
		margin: 0;
	}
}
.social {
	margin-top: rem-calc(20);
	li a>i {
		-webkit-border-radius: $footer-icon-radius;
		-khtml-border-radius: $footer-icon-radius;
		-moz-border-radius: $footer-icon-radius;
		border-radius: $footer-icon-radius;
		background-color: #bbbbbb;
		cursor: pointer;
		height: $footer-icon-radius*2;
		width: $footer-icon-radius*2;
		display: table;
		text-align: center;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		position: relative;
	}
}
.footer-info {
	border-top: 1px solid #e8e8e8;
	margin-top: rem-calc(50);
	padding-top: rem-calc(10);
	p {
		font-size: rem-calc(12);
	}
}


/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */

	/**
	 * 4.1 Pages
	 * ------------------------------------
	 */



	/* Journal
	* -------------------------------------
	*/

	.journal-wrap {
		padding-top: rem-calc(95);
		@media #{$medium-up} {
			padding-top: rem-calc(140);
		}
		height: rem-calc(280);
		background-size: cover;
		background-position: center center;
		@include grid-debug(250px);
		h2, h4 {
			color: #ffffff;
		}
		h4 {
			font-family: $regular-font-family;
			letter-spacing: rem-calc(3);
			margin-bottom: 0;
			font-size: rem-calc(14);
		}
		h2 {
			font-weight: 400;
			font-size: rem-calc(30);
			margin: rem-calc(15 0);
			line-height: 1.5;
		}
	}
	.journal-select h4 {
		font-size: rem-calc(13);
		text-transform: none;
		color: #222;
	}


	/* Stories
	* -------------------------------------
	*/

	.stories-wrap {
		padding-top: rem-calc(95);
		@media #{$medium-up} {
			padding-top: rem-calc(140);
		}
		height: rem-calc(350);
		background-size: cover;
		background-position: center center;
		@include grid-debug(250px);
		h2, h4 {
			color: #ffffff;
		}
		h4 {
			font-family: $regular-font-family;
			letter-spacing: rem-calc(3);
			margin-bottom: 0;
			font-size: rem-calc(14);
		}
		h2 {
			font-weight: 400;
			font-size: rem-calc(30);
			margin: rem-calc(15 0);
			line-height: 1.5;
		}
	}
	.stories-content {
		padding: rem-calc(40 0);
		background-color: #fff;
	}
	.post-article {
		padding: rem-calc(20);
		&:hover .post-info {
			background-color: lighten($primary-color, 3%);
			h4, p { color: #fff; }
		}
	}
	.post-image {
		border-top-left-radius: rem-calc(2);
		border-top-right-radius: rem-calc(2);
		padding-top: 30%;
		@media #{$medium-up} {
			padding-top: 50%;
		}
		background-size: cover;
		background-position: center center;
	}
	.post-info {
		background-color: #F5F8FC;
		padding: rem-calc(20);
		border-bottom-left-radius: rem-calc(2);
		border-bottom-right-radius: rem-calc(2);
		transition: all 100ms ease;
		h4 {
			font-size: rem-calc(14);
			color: lighten($primary-color, 3%);
			margin: 0;
		}
		p {
			font-size: rem-calc(14);
			line-height: 1.6;
			color: #888;
			margin: rem-calc(5 0 0 0);
		}
	}
	.stories-latest {
		h2 {
			margin-top: rem-calc(70);
			padding: rem-calc(20 0 0 10);
			border-top: 1px solid #efefef;
			color: #777;
			font-size: rem-calc(27);
		}
		.post-image {
			padding-top: 30%;
			@media #{$medium-up} {
				padding-top: 40%;
			}
		}
	}
	.post-list {
		margin: 0;
		padding: rem-calc(25 30);
		@media #{$medium-up} {
			padding: rem-calc(25 40);
		}
	}
	.post-list li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		border-bottom: rem-calc(1) solid #efefef;
		padding: rem-calc(10);
		transition: all 150ms ease;
		&:hover {
			background-color: #f5f8fc;
		}
		a {
			color: #888;
			display: block;
		}
	}
	.post-list li:last-child {
		border-bottom: none;
	}
	.post-date {
		color: #c1c5c6;
	}
	.post-title, .post-date {
		font-size: rem-calc(14);
	}



	/* Home
	* -------------------------------------
	*/

	// Hero Section ///////////////////////
	.hero, #hero-mask {
		height: 100vh;
		height: 100%;
		@extend %vertical-align-parent;
	}
	.hero-bg {
		background-image: url('../assets/img/hero-bg.jpg');
		background-size: cover;
		background-position: 76% center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1000;
	}
	#hero-video {
		position: fixed;
		z-index: -100;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		background-position: center center;
		background-size: cover;
	}
	.hero-action {
		@extend %vertical-align;
	}
	#hero-mask {
		background-color: #000000;
		opacity: 0;
		transform: translate3d(0, 0, 0);
		height: 100%;
	}
	.hero-subtitle {
		font-size: rem-calc(21);
		font-family: $serif-font-family;
		font-style: italic;
		color: #fff;
		line-height: 2.2;
		text-shadow: 1px 1px 0 rgba(0,0,0,.4);
	}
	.hero-title {
		font-size: rem-calc(88);
		letter-spacing: rem-calc(10);
		font-family: $demi-font-family;
		text-transform: uppercase;
		color: #fff;
		line-height: 1;
		text-shadow: 1px 1px 0 rgba(0,0,0,.4);
	}
	.hero-tagline {
		color: #ffffff;
		margin-bottom: rem-calc(40);
		font-family: $body-font-family;
		letter-spacing: rem-calc(1.82);
	}

	// About Section //////////////////////
	.about, .packages {
		color: #909090;
		position: relative;
	}
	.about {
		background-color: #ffffff;
		padding: rem-calc(80) 0 rem-calc(60) 0;
		hr {
			@include divider(#EBEAE5);
		}
	}
	.reasons p {
		padding: 0 rem-calc(40);
	}
	.icon {
		margin: rem-calc(70) 0 rem-calc(30) 0;
	}
	.divider {
		border-right: rem-calc(1) solid #dfdfdf;
		height: rem-calc(23);
		padding-top: rem-calc(5);
	}
	.about-blurb {
		background: rgba(255,255,255, 0.1) url("../assets/img/icons/watermark.svg") no-repeat center center;
		margin-top: rem-calc(10);
	}
	.gradient-text {
		height: rem-calc(250);
		padding-top: rem-calc(78);
		@media #{$large-up} {
			padding-top: rem-calc(90);
		}
		@media #{$xlarge-up} {
			padding-top: rem-calc(103);
		}
		font-family: $h2-header-font-family;
		font-weight: 400;
		font-size: rem-calc(20);
		background: transparent;
		background: -webkit-gradient(linear, left top, right bottom, color-stop(15%, #FF7968), color-stop(80%, #80C896));
		background: -webkit-linear-gradient(-45deg, #FF7968 15%, #80C896 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		strong {
			font-style: italic;
			font-weight: 900;
		}
	}
	// Packages Section ///////////////////
	.packages {
		padding: rem-calc(80) 0;
		hr {
			@include divider(#777);
		}
	}
	// Featured Stories Section ///////////
	.stories {
		hr {
			@include divider(#fff);
		}
		h2, h5, p {
			color: #fff;
		}
		h2 {
			margin-bottom: rem-calc(13);
		}
		h6 {
			margin-bottom: rem-calc(35);
		}
	}
	.success-story, .proposal-story {
		padding: rem-calc(75) rem-calc(100);
		@media #{$xlarge-up} {
			padding: rem-calc(75) rem-calc(170);
		}
	}
	// Hint Section ///////////
	.hint {
		h5, p {
			color: #fff;
		}
		padding: rem-calc(55) 0 rem-calc(30);
	}


	/**
	 * 4.2 Posts
	 * ------------------------------------
	 */

	// Story Posts
	%excerpt {
		font-family: $serif-font-family;
		font-weight: 400;
		font-size: rem-calc(20);
		line-height: 1.8;
		text-align: left;
	}
	.little-nav {
		padding-top: rem-calc(10);
		i { margin-right: rem-calc(5); }
		.all-posts {
			margin: 0;
			font-family: $medium-font-family;
			font-size: rem-calc(15);
			letter-spacing: rem-calc(1);
			color: #888;
		}
	}
	.excerpt {
		@extend %excerpt;
		margin: 0 0 rem-calc(30) 0;
	}
	.story-wrap {
		padding: rem-calc(110) rem-calc(10) rem-calc(0);
		@media #{$medium-up} { padding: rem-calc(120) rem-calc(90) rem-calc(0); }
		@media #{$large-up} { padding: rem-calc(120) rem-calc(160) rem-calc(0); }
		@media #{$xlarge-up} { padding: rem-calc(140) rem-calc(140) rem-calc(0); }
		height: rem-calc(400);
		background-size: cover;
		background-position: center center;
		h2, h4 {
			color: #ffffff;
		}
		h4 {
			font-family: $regular-font-family;
			letter-spacing: rem-calc(4);
			margin-bottom: 0;
			font-size: rem-calc(12);
			@media #{$medium-up} { font-size: rem-calc(13); }
			@media #{$large-up} { font-size: rem-calc(14); }
		}
		h2 {
			font-weight: 700;
			font-size: rem-calc(34);
			@media #{$medium-up} { font-size: rem-calc(36); }
			@media #{$large-up} { font-size: rem-calc(48); }
			@media #{$xlarge-up} { font-size: rem-calc(54); }
		}
	}
	.story-content {
		padding-top: rem-calc(50);
		color: #666666;
		p {
			strong {
				font-family: $demi-font-family;
			}
		}
	}
	.entry-content {
		h1,h2,h3,h4,h5,h6 {
			font-family: $serif-font-family;
			font-weight: 700;
			color: #444444;
			margin: rem-calc(60 0 25);
			line-height: 1.8;
		}
		h2:first-child, h3:first-child, h4:first-child { margin-top: 0; }
		table { margin-top: rem-calc(35); width: 100%;}
		thead {
			font-family: $medium-font-family;
		}
	}
	figure {
		margin: rem-calc(40 -50);
		@media #{$small-only} { margin: rem-calc(0); }
	}
	figcaption {
		font-family: $serif-font-family;
		font-style: italic;
		font-size: rem-calc(14);
		color: #A9A9A9;
		text-align: center;
		margin-top: rem-calc(20);
	}
	blockquote {
		p {
			@extend %excerpt;
			margin-bottom: 0;
			font-style: italic;
			font-size: rem-calc(16);
			line-height: 1.9;
		}
		margin-left: 0;
		@media #{$medium-up} { margin-left: rem-calc(-60); }
		padding: rem-calc(30);
	}
	.story-carousel {
		clear: both;

		.slick-prev {
			left: 20px;
		}
		.slick-next {
			right: 40px;
		}
		.slick-dots {
			bottom: -20px;
			li {
				margin-right: 15px;
			}
			.slick-active button:before {
				background-color: rgba(255, 255, 255, 1);
				opacity: 1;
			}
			li button:before {
				content: '';
				width: 15px;
				height: 15px;
				border-radius: 10px;
				background-color: rgba(204, 0, 102, 0);
				border: 3px solid #fff;
				opacity: 1;
			}
		}
	}
	.story-carousel-content {
		background-size: cover;
		background-position: center center;
	}
	.story-social {
		.social li {
			font-size: rem-calc(14);
			color: #777;
			a {
				background-color: #444444;
			}
		}
	}
	.story-adjacent {
		background-color: #fff;
	}
	.story-prev, .story-next {
		height: rem-calc(200);
		background-size: cover;
		background-position: center center;
		transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transform-origin: center center;
		&:hover {
			transform: scale(0.975);
		}
		a {
			width: 100%;
			height: 100%;
			display: block;
			padding: rem-calc(50 75);
		}
		h2, h4 {
			color: #ffffff;
		}
		h4 {
			font-family: $regular-font-family;
			letter-spacing: rem-calc(4);
			margin-bottom: rem-calc(15);
			font-size: rem-calc(12);
		}
		h2 {
			font-weight: 700;
			font-size: rem-calc(32);
		}
	}
	.story-social {
		// Center inline list
		display: table;
  	margin: rem-calc(10) auto rem-calc(90);
  	padding-top: rem-calc(40);
  	border-top: 2px solid #f3f3f3;
	}
	.story-social-list {
		margin: rem-calc(0 20 13 0);
	}
	.story-social-link {
		color: #888888;
		font-family: $demi-font-family;
		font-size: rem-calc(14);
		i {
			margin-right: rem-calc(8);
			&:before {
				border-radius: $footer-icon-radius;
				background-color: #666;
				cursor: pointer;
				height: $footer-icon-radius*2;
				width: $footer-icon-radius*2;
				padding-top: rem-calc(6);
			}
		}
	}


	/**
	 * 4.3 Widgets
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.4 Comments
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.5 Lists
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.6 Forms
	 * ------------------------------------
	 */

	input {
		padding: rem-calc(10);
	}



/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Insert styles here