<header>
  <div class="row max-width stories-wrap">
    <div class="small-12 columns">
      <h2>{{post.get_field('stories_header_text')}}</h2>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">All</a></li>
        <li><a href="">All</a></li>
      </ul>
    </div>
  </div>
</header>