<section class="about text-center">
  <div class="row">
    <div class="small-12 columns">
      <div class="title">Indonesia's First Proposal Planner</div>
      <h2>Turning Dreams Into Reality</h2>
      <hr>
      <div class="row">
        <div class="large-8 large-centered columns">
          <p class="gradient-text">{{post.get_field('info_who')}}</p>
          <a href="{{site.url}}/about" class="button coral">Get to know us</a>
        </div>
      </div>
    </div>
  </div>
</section>