<section class="about text-center">
  <div class="row">
    <div class="large-12 medium-12 columns">
      <h5>Indonesia's First Proposal Planner</h5>
      <h2>Turning Dreams Into Reality</h2>
      <hr>
    </div>
  </div>
{#   <div class="row">
    <div class="large-2 large-offset-3 columns divider">
      <a href="#" class="link">Who are we?</a>
    </div>
    <div class="large-2 columns divider">
      <a href="#" class="link active">Why hire us?</a>
    </div>
    <div class="large-2 end columns">
      <a href="#" class="link">Testimonials</a>
    </div>
  </div> #}
  <div class="row about-blurb">
    <div class="large-8 large-offset-2 columns">
      <p class="gradient-text">{{post.get_field('info_who')}}</p>
    </div>
  </div>
{#   <div class="row reasons">
    <div class="large-4 columns">
      <svg>
        <use xlink:href="#shape-save-time"></use>
      </svg>
      <h4>Save time &amp; money</h4>
      <p>We plan everything for you, hire trusted vendors, scout the perfect location, and negotiate on/under budget rates on your behalf. All you have to do is bring the ring!</p>
    </div>
    <div class="large-4 columns">
      <svg>
        <use xlink:href="#shape-planner"></use>
      </svg>
      <h4>We were born to plan</h4>
      <p>We have a passion for the big picture and devotion to little details. Your proposal will run seamlessly and on schedule. All according to a predefined timeline we provide in the beginning.</p>
    </div>
    <div class="large-4 columns">
      <svg>
        <use xlink:href="#shape-creative"></use>
      </svg>
      <h4>Brilliant Creatives</h4>
      <p>Our creativity helps you brainstorm a more personalized proposal catered to your relationship. No romantic concepts are re-used. They are freshly baked just for you.</p>
    </div>
  </div> #}
  <div class="row">
    <a href="{{site.url}}/about" class="button coral">Get to know us</a>
  </div>
</section>