<section class="hint">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h5>Drop Him A Hint</h5>
      <p>Ladies here’s your chance to “drop a hint” to your boyfriend that you want to get married! Some gentlemen just need a little guidance, whether or not they realize it.</p>

    </div>
    <div class="small-12 medium-6 columns">
      <p>Contact us now! Proposal Envy’s here to help.</p>
      <a href="#" class="button coral">Help Me</a>
    </div>
  </div>
</section>