<section class="hint" style="background-image: url({{TimberImage(options.hint_bg).src}})">
  <div class="row">
    <div class="large-5 columns">
      <h5>Drop Him A Hint</h5>
      <p>Ladies here’s your chance to “drop a hint” to your boyfriend that you want to get married! Some gentlemen just need a little guidance, whether or not they realize it. Proposal Envy’s here to help!</p>
    </div>
    <div class="large-2 text-center columns">
      <p>bird image</p>
    </div>
    <div class="large-5 columns">
      <h5>Lorem Ipsum Dolor</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <a href="#" class="button coral">Help Me</a>
    </div>
  </div>
</section>